@using FiorEllo.Models
@model List<FlowerExpert>


<div class="mkdf-row-grid-section-wrapper ">
											<div class="mkdf-row-grid-section">
												<div class="vc_row wpb_row vc_row-fluid vc_custom_1526289670330">
													@foreach (var item in Model)
													{
														<div
															class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-6">
															<div class="vc_column-inner">
																<div class="wpb_wrapper">
																	<div
																		class="mkdf-team-holder mkdf-team-info-below-image">
																		<div class="mkdf-team-inner">
																			<div class="mkdf-team-image">
																				<img width="222" height="222"
																					src="@item.Image"
																					class="attachment-full size-full"
																					alt="a"
																					sizes="(max-width: 222px) 100vw, 222px"
																					loading="eager" />
																			</div>
																			<div class="mkdf-team-info">
																				<h6 class="mkdf-team-name">@item.Name
																				</h6>
																				<span
																					class="mkdf-team-position">@item.Position</span>
																			</div>
																		</div>
																	</div>
																	<div class="vc_empty_space" style="height: 68px"><span
																			class="vc_empty_space_inner"></span></div>
																</div>
															</div>
														</div>
														
													}
													
													@*<div
														class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-6">
														<div class="vc_column-inner">
															<div class="wpb_wrapper">
																<div
																	class="mkdf-team-holder mkdf-team-info-below-image">
																	<div class="mkdf-team-inner">
																		<div class="mkdf-team-image">
																			<img width="222" height="222"
																				src="assets/vendor/wp-content/uploads/2018/05/h3-team-img-2.png"
																				class="attachment-full size-full"
																				alt="a"
																				srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/h3-team-img-2.png 222w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/h3-team-img-2-100x100.png 100w"
																				sizes="(max-width: 222px) 100vw, 222px"
																				loading="eager" />
																		</div>
																		<div class="mkdf-team-info">
																			<h6 class="mkdf-team-name">Shirley Harris
																			</h6>
																			<span
																				class="mkdf-team-position">Manager</span>
																		</div>
																	</div>
																</div>
																<div class="vc_empty_space" style="height: 68px"><span
																		class="vc_empty_space_inner"></span></div>
															</div>
														</div>
													</div>
													<div
														class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-6">
														<div class="vc_column-inner">
															<div class="wpb_wrapper">
																<div
																	class="mkdf-team-holder mkdf-team-info-below-image">
																	<div class="mkdf-team-inner">
																		<div class="mkdf-team-image">
																			<img width="222" height="222"
																				src="assets/vendor/wp-content/uploads/2018/04/h3-team-img-3.png"
																				class="attachment-full size-full"
																				alt="a"
																				srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-team-img-3.png 222w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-team-img-3-100x100.png 100w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-team-img-3-50x50.png 50w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-team-img-3-150x150.png 150w"
																				sizes="(max-width: 222px) 100vw, 222px"
																				loading="eager" />
																		</div>
																		<div class="mkdf-team-info">
																			<h6 class="mkdf-team-name">Beverly Clark
																			</h6>
																			<span
																				class="mkdf-team-position">Florist</span>
																		</div>
																	</div>
																</div>
																<div class="vc_empty_space" style="height: 68px"><span
																		class="vc_empty_space_inner"></span></div>
															</div>
														</div>
													</div>
													<div
														class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-6">
														<div class="vc_column-inner">
															<div class="wpb_wrapper">
																<div
																	class="mkdf-team-holder mkdf-team-info-below-image">
																	<div class="mkdf-team-inner">
																		<div class="mkdf-team-image">
																			<img width="222" height="222"
																				src="assets/vendor/wp-content/uploads/2018/04/h3-team-img-4.png"
																				class="attachment-full size-full"
																				alt="a"
																				srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-team-img-4.png 222w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-team-img-4-100x100.png 100w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-team-img-4-50x50.png 50w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-team-img-4-150x150.png 150w"
																				sizes="(max-width: 222px) 100vw, 222px"
																				loading="eager" />
																		</div>
																		<div class="mkdf-team-info">
																			<h6 class="mkdf-team-name">Amanda Watkins
																			</h6>
																			<span
																				class="mkdf-team-position">Florist</span>
																		</div>
																	</div>
																</div>
																<div class="vc_empty_space" style="height: 68px"><span
																		class="vc_empty_space_inner"></span></div>
															</div>
														</div>
													</div>*@
												</div>
											</div>
										</div>